.sender-wrapper {
  width: 360px;
  height: 570px;
  min-height: 300px;
  position: relative;
  z-index: 99999;
  box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
}

.sender-wrapper.sender-embed {
  box-shadow: none;
}

/*-------------WRAPPER POSITION--------*/


.sender-wrapper.top-left {
  position: fixed;
  top: 0;
  left: 0;
}

.sender-wrapper.top-center {
  position: fixed;
  top: 0;
  left: calc((100% - 360px)/2);
}

.sender-wrapper.top-right {
  position: fixed;
  top: 0;
  right: 0;
}

.sender-wrapper.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
}

.sender-wrapper.bottom-center {
  position: fixed;
  bottom: 0;
  left: calc((100% - 360px)/2);
}

.sender-wrapper.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.sender-wrapper.left-top {
  position: fixed;
  top: 0;
  left: 0;
}

.sender-wrapper.left-center {
  position: fixed;
  left: 0;
  top: calc((100% - 650px)/2);
}

.sender-wrapper.left-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
}

.sender-wrapper.right-top {
  position: fixed;
  top: 0;
  right: 0;
}

.sender-wrapper.right-center {
  position: fixed;
  right: 0;
  top: calc((100% - 650px)/2);
}

.sender-wrapper.right-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100000;
}

.sender-widget-resize {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 9px;
  height: 9px;
  background: url(/build/images/resize.png) no-repeat;
  cursor: se-resize;
  z-index: 100002;
  border-bottom-right-radius: 6px!important;
}

.sender-widget-drag {
  position: absolute;
  top: 0;
  left: 36px;
  width: calc(100% - 125px);
  height: 36px;
  z-index: 100000;
  cursor: pointer;
}

.sender-widget-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.sender-widget-frame {
  position: relative;
  width: 100%;
  height: 100%;
  border-style: none;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  border-radius: 6px;
}

.sender-hidden {
  display: none;
}

/*------LIGHT-UP-----*/

.sender-widget-light-up {
  width: 0;
  height: 0;
  pointer-events: none;
  box-shadow: 0 0 0 0 rgba(127, 128, 176, 0.7), inset 0 0 0 #7f80b0;
  cursor: pointer;
  -webkit-animation: pulse 1s infinite cubic-bezier(0.6, 0, 0, 1);
  -moz-animation: pulse 1s infinite cubic-bezier(0.6, 0, 0, 1);
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(90, 153, 220, 0), inset 0 0 0 #7f80b0;
  }
}

@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(90, 153, 220, 0), inset 0 0 0 #7f80b0;
  }
}


/*----------WIDGET BUTTON---------*/

.widget-button {
  position: fixed;
  border: 1px solid #fff;
  z-index: 9999;
  cursor: pointer;
  box-shadow: inset 0 0 1px rgba(255,255,255,.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  border-radius: 5px;
}

.widget-button-logo-wrapper {
  width: 36px;
  height: 36px;
  padding-top: 4px;
  padding-left: 4px;
  float: left;
}

.widget-button-logo {
  display: inline-block;
  border-radius: 50%;
  background-image: url(../images/company-logo.png);
  background-position: 50% 50%;
  background-size: 19px 20px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.widget-button-text {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  clear: both;
}

.widget-button-badge {
  width: 20px;
  height: 20px;
  background-color: #ff635f;
  border: solid 2px #ffffff;
  position: absolute;
  top: -20px;
  right: -10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  line-height: 18px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}


.widget-button-text-char {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 14px;
  width: 36px;
  height: 13px;
  font-family: 'Open Sans', sans-serif;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  font-weight: 600;
}

.widget-button-text-char.trans {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transform: rotate(0deg);
  height: 15px;
}

.widget-button.bottom-left .widget-button-text,
.widget-button.bottom-center .widget-button-text,
.widget-button.bottom-right .widget-button-text,
.widget-button.top-left .widget-button-text,
.widget-button.top-center .widget-button-text,
.widget-button.top-right .widget-button-text {
  margin-right: 15px;
  max-width: 300px;
  white-space: nowrap;
  line-height: 36px;
  height: 36px;
  clear: none;
  float: left;
}

.widget-button.bottom-left,
.widget-button.bottom-center,
.widget-button.bottom-right,
.widget-button.top-left,
.widget-button.top-center,
.widget-button.top-right {
  max-height: 36px;
  min-width: 160px;
  max-width: 450px;
}

.widget-button.bottom-left,
.widget-button.bottom-center,
.widget-button.bottom-right {
  bottom: 10px;
}

.widget-button.right-bottom,
.widget-button.left-bottom {
  bottom: 10px;
}

.widget-button.bottom-left,
.widget-button.top-left {
  left: 10px;
}

.widget-button.bottom-center,
.widget-button.top-center {
  left: calc((100% - 220px)/2);
}

.widget-button.bottom-right,
.widget-button.top-right {
  right: 10px;
}

.widget-button.top-left,
.widget-button.top-center,
.widget-button.top-right {
  top: 20px;
}

.widget-button.right-top,
.widget-button.left-top {
  top: 20px;
}

.widget-button.left-bottom,
.widget-button.left-center,
.widget-button.left-top,
.widget-button.right-bottom,
.widget-button.right-center,
.widget-button.right-top {
  max-width: 36px;
  min-height: 160px;
  max-height: 450px;
}

.widget-button.left-bottom .widget-button-text,
.widget-button.left-center .widget-button-text,
.widget-button.left-top .widget-button-text,
.widget-button.right-bottom .widget-button-text,
.widget-button.right-center .widget-button-text,
.widget-button.right-top .widget-button-text {
  max-height: 300px;
  margin-bottom: 15px;
}

.widget-button.left-bottom,
.widget-button.left-center,
.widget-button.left-top {
  left: 10px;
}


.widget-button.right-bottom,
.widget-button.right-center,
.widget-button.right-top {
  right: 10px;
}

.widget-button.left-center,
.widget-button.right-center {
  top: calc((100% - 220px)/2);
}

/*---------ARROWS FOR BUTTON--------*/
/*---------BOTTOM----------*/
.widget-button.bottom-left:after, .widget-button.bottom-left:before,
.widget-button.bottom-center:after, .widget-button.bottom-center:before,
.widget-button.bottom-right:after, .widget-button.bottom-right:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.widget-button.bottom-left:after ,
.widget-button.bottom-center:after ,
.widget-button.bottom-right:after {
  border-width: 10px;
  margin-left: -10px;
}

.widget-button.bottom-left:before ,
.widget-button.bottom-center:before ,
.widget-button.bottom-right:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 11px;
  margin-left: -11px;
}

/*-----------TOP----------*/
.widget-button.top-left:after, .widget-button.top-left:before,
.widget-button.top-center:after, .widget-button.top-center:before,
.widget-button.top-right:after, .widget-button.top-right:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.widget-button.top-left:after ,
.widget-button.top-center:after ,
.widget-button.top-right:after {
  border-width: 10px;
  margin-left: -10px;
}

.widget-button.top-left:before ,
.widget-button.top-center:before ,
.widget-button.top-right:before  {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 11px;
  margin-left: -11px;
}


/*-----------RIGHT-----------*/
.widget-button.right-bottom:after, .widget-button.right-bottom:before,
.widget-button.right-center:after, .widget-button.right-center:before,
.widget-button.right-top:after, .widget-button.right-top:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.widget-button.right-bottom:after,
.widget-button.right-center:after,
.widget-button.right-top:after {
  border-width: 10px;
  margin-top: -10px;
}

.widget-button.right-bottom:before,
.widget-button.right-center:before,
.widget-button.right-top:before {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 11px;
  margin-top: -11px;
}

/*-------------LEFT---------*/
.widget-button.left-bottom:after, .widget-button.left-bottom:before,
.widget-button.left-center:after, .widget-button.left-center:before,
.widget-button.left-top:after, .widget-button.left-top:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.widget-button.left-bottom:after,
.widget-button.left-center:after,
.widget-button.left-top:after {
  border-width: 10px;
  margin-top: -10px;
}

.widget-button.left-bottom:before,
.widget-button.left-center:before,
.widget-button.left-top:before {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 11px;
  margin-top: -11px;
}
